#ifndef FIREBASE_CONFIG_H
#define FIREBASE_CONFIG_H

// ==========================================
// WI-FI CREDENTIALS
// ==========================================
#define WIFI_SSID           "YOUR_WIFI_SSID"
#define WIFI_PASSWORD       "YOUR_WIFI_PASSWORD"

// ==========================================
// GOOGLE FIREBASE CREDENTIALS
// ==========================================
// Example: "https://iaq-project-57a4f-default-rtdb.asia-southeast1.firebasedatabase.app/"
#define FIREBASE_HOST       "https://YOUR_PROJECT_ID-default-rtdb.asia-southeast1.firebasedatabase.app/"

// Firebase Web API Key (found in Project Settings -> General)
#define FIREBASE_AUTH       "YOUR_FIREBASE_DATABASE_SECRET_OR_API_KEY"

// Device Identifier in Firebase Realtime Database
#define DEVICE_ID           "ESP32C3_STATION_01"

#endif // FIREBASE_CONFIG_H
